body {
    margin: 0px;
}

a {
    color: white;
}

#main-div {
    max-width: 1500px;
    min-width: 1200px;

    font-family: 'PT Sans', sans-serif;
}

.content {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.site-content {
    background: rgb(250, 212, 233);
}

.site-content > .content {
    display: flex;
    flex-direction: column;
}

#to-start-button {
    position: fixed;
    bottom: 50px;
    right: 40px;

    width: 75px;
    height: 75px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    background: rgba(48, 12, 106, 0.3);
}

#top-menu {
    background-color: #243B93;
    color: white;
    text-align: center;
    text-transform: uppercase;
    position: sticky;
    top: 0px;
    z-index: 5;
}

#top-menu > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

#top-menu img {
    height: 35px;
}

#language {
    display: flex;
    align-items: center;
}

#language > div {
    margin-left: 5px;
}

.header-text {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    font-style: italic;
    font-weight: 400;
}

#rent-house-header {
    background-color: #BFF0FF;
    color: #202846;
}

#place-selector {
    background-color: white;
    color: rgba(0, 0, 0, 0.61);
    text-align: center;
    margin-top: 20px;
    font-size: 22px;
    position: relative;
}

#place-selector > svg {
    position: absolute;
    top: 25%;
    right: 15px;
    height: 50%;
}

.card {
    background: linear-gradient(90deg, #A9CBD6, #01AFE6);
    display: flex;
    justify-content: space-around;
    position: relative; 
    margin-top: 30px; 
    margin-bottom: 30px;
}

.card > img {
    padding: 40px 0px 40px 40px;
}

.card:hover {
    box-shadow: 0 0 60px #2CBDEB;
}

.card:hover > .highlight {
    background-color: #EF075B;
}

.card:hover > .star {
    fill: #FFF500;
}

.description {
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.description > div {
    background: #EDFBFF;
    color: #202846;
    flex-grow: 1;
}

.description > h2 {
    border-bottom: 2px solid white;
    color: #353C57;
    font-weight: 700;
    font-style: italic;

    margin-top: 0;
    margin-bottom: 8px;
}


.blue-button {
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 30px;
    background-color: #243B93;
    color: white;
    font-size: 24px;

    height: 50px;
}

.button-more {
    position: absolute;
    bottom: 10px;
    right: -20px;
    width: 210px;
}

.highlight:hover {
    background: #EF075B;
}

.star {
    position: absolute;
    top: 10px;
    right: 10px;
}

#personal-menu-header {
    background: linear-gradient(90deg, #FFE601, #55D6FF);
    color: #243B93;
}

#person-card {
    display: flex;
    background: linear-gradient(#859EFF, #69FFD280);

    margin-top: 30px;
    margin-bottom: 30px;
}

#person-card > div:nth-of-type(1) {
    padding: 60px 120px;
}

#person-card > div:nth-of-type(1) > a {
    margin-top: 20px;
}

#person-card > div:nth-of-type(2) {
    padding: 60px 60px 60px 0px;

    font-size: 28px;
    font-style: italic;
    color: #353C57;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#person-card span {
    font-weight: 700;
}

.underlined-white {
    border-bottom: 3px solid white;
}

#exit-button {
    width: 20%;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

#contacts-header {
    background: linear-gradient(90deg, #54D6FF 0%, #FFE600 100%);
    color: #243B93;
}

.underlined-black {
    border-bottom: 2px solid black;
}

#contacts-card {
    display: flex;
    justify-content: space-between;
    margin-top: 30px; 
    margin-bottom: 30px;

    font-size: 24px;
}

#contacts-card a {
    color: black;
}

#contacts-card > iframe {
    width: 400px;
    height: 250px;
    border: 3px solid #243B93;
    border-radius: 30px;

}
#footer{
    padding-top: 15px;
    padding-bottom: 15px;
    background-color:#243B93 ;
    color: #FFFFFF;
}